<h2>Lista de categorias: </h2>
{{#each categorias}}
    <div class="card">
        <div class="card-body">
            <h4>Nome: {{nome}}</h4>
            <small>Slug: {{slug}}</small> <br>
            <small>Date: {{createdAt}}</small>
            <br>
            <a href="/admin/categorias/delete/{{id}}"><button class="btn btn-success mt-2">Deletar</button></a>
            <a href="/admin/categorias/edit/{{id}}"><button class="btn btn-success mt-2">Editar categoria</button></a>
        </div>
    </div>
{{/each}}
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova categoria</button></a>